{% extends 'base.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col border border-dark bg-light p-4 font-weight-bold ">Пользователь : {{ data.user.fullName }}</div>
            <div class="w-100"></div>
            <div class="col border border-dark text-center p-4">ID Пользователя</div>
            <div class="col border border-dark text-center p-4">{{ data.user.internalId }}</div>
            <div class="w-100"></div>
            <div class="col border border-dark text-center p-4 ">Полное имя</div>
            <div class="col border border-dark text-center p-4">{{ data.user.fullName }}</div>
            <div class="w-100"></div>
            <div class="col border border-dark text-center p-4 ">Роль</div>
            <div class="col border border-dark text-center p-4">{{ data.user.role }}</div>
            <div class="w-100"></div>
            <div class="col">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название конференци</th>
                        <th scope="col">Начало конференции</th>
                        <th scope="col">Количество участников</th>
                        <th scope="col">Длительность</th>
                        <th scope="col">Подробности</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data.meetings %}
                        <tr>
                            <th scope="row"> {{ item[0].meetingName}}</th>
                            <td>{{ item[0].startTime }}</td>
                            <td>{{ item[0].maxUsers }}</td>
                            <td>{{ item[0].duration }}</td>
                            <td>
                                <a href="/meetings/{{ item[0].id }}" class="btn btn-secondary active" role="button" aria-pressed="true">Подробнее</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col text-center">
                <div class="col w-100 row text-center p-2">
                    <div class="col text-center">Активность с </div>
                    <div class="col text-center">15.04.22</div>
                    <div class="col text-center">по </div>
                    <div class="col text-center">16.04.22 </div>
                </div>
                <div class="col">
                    <img src="https://sun9-57.userapi.com/impf/ZCp9M9_FQII6Ub719-8X06N28EcDbcjIBq4DVw/U4QPfsg2GFg.jpg?size=1121x580&quality=96&sign=8498f364ec9a6632994f20c97869e6d2&type=album" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
{% endblock %}